

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:400px;
  float: left;
  margin-left: 60px;
  margin-bottom: 40px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

	
@media screen and (max-width: 500px) {
	.card{
	width:auto;
	 position: relative;
    margin-bottom: 50px;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
	
	}
	
}
